@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
      background:  #e7ebf0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 96vh;
      /* background:  #343634 ; */
     }

form {
      height: 600px;
      width: 1000px;
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
      /* align-items: start; */
      border-radius: 7px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      background-color: #fff;
      font-family: 'Roboto', sans-serif;
     }

form input, form select {
                         width: 200px;
                         border: none;
                         margin-left: 10px;
                         background-color: #e7ebf0;
                         outline: none;
                         height: 27px;
                         font-family: 'Roboto', sans-serif;
                        }

textarea {
          width: 180px;
          margin-left: 10px;
          border: none;
          background-color: #e7ebf0;
          outline: none;
          font-family: 'Roboto', sans-serif;
         }
                      
h2, h3 {
        width: 100%;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        /* margin-left: 30px; */
       }

h3 {
     margin:3px;
   }

.div1 {
        display: flex;
        align-items: center;
        padding: 4px;
        width: 330px;
        justify-content: center;
        border: 3px solid #e7e5e5;
        /* background-color: #e7ebf0; */
        border-radius: 3px;
        margin-left: 30px;
        height: 40px;
       }


.div2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* justify-content: space-between; */
        width: 96%;
        margin-bottom: 12px;
        /* margin-left: 30px; */
      }

.div1 i {
          margin-right: 10px;
        }

.div3 {
          width: 820px;
         }

.valider {
          background-color: black;
          height: 36px;
          color: #fff;
          font-size: 20px;
          /* width: 0px; */
          width: 25%;
          transition: all 1s;
          border-radius: 5px;
          text-align: center;

        }


.valider:hover {
                /* background-color: #e7ebf0; */
                background:  #3b3b3b;
               }

.bouton {
         display: block;
         width: 100%;
         text-align: center;
         margin-top: 10px;
        }

 .lien1 {
         text-decoration: none;
         color: black;
         font-size: 21px;
         position: absolute;
         transition: all 1s;
         top: 0;
         left: 0;
        }
      
.lien1:hover {
              color:  #3b3b3b;
             }