body {
    display: flex;
    /* justify-content: space-between; */
    background:#f3f3f5;
   }


nav {
   /* position: fixed; */
   height: 97vh;
   width: 20vw;
   /* border: 1px solid; */
   border-radius: 20px;
   background: #01532a;
   box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);
   font-family: 'Proza Libre', sans-serif;
  }

nav div {
       display: flex;
       font-family: 'Lato', sans-serif;
       font-size: 12px;
       color: #fff;
       margin-bottom: 5vh;
      }

nav a {
     text-decoration: none;
     color: #fff;
    }

nav li {
      color: #fff;
      font-size: 18px;
     }

.fa-stethoscope, .fa-head-side-virus, 
.fa-calendar-days, .fa-house {
                                font-size: 24px;
                                margin-right: 10px;
                               }

.element {
     display: inline-block;
     padding: 10px 15px;
     transition: all 0.2s ease;
}

.element:hover {
             padding: 15px 20px;
            background: #268bc9;
           }


nav > ul > li {
             margin-bottom: 30px;
            }

.sous-menu {
          /* visibility: hidden; */
          display: none;
          /* height: 0; */
         }

.sous-menu:target {
  /* height: 100%; */
  /* visibility: visible; */
  display: inline-block;
  /* opacity: 1; */
}

nav ul {
      list-style-type: none;
     }

     

.box1, .box2 {
               box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
               width: 400px;
               height: 150px;
               background-color: #fff;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
             }

.box1 > div, .box2 > div {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                         }   
                         
.box1 h4, .box2 h4 {
                    color: #444343;
                    font-size: 20px;
                   }

.box1 span, .box2 span {
                        font-size: 30px;
                        color: gray;
                       }

.sectAdmin {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
}

.sect1 {
      height: 150px;
      width:80vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
     }


.sect2 {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        margin-top: 20px;
        width: 70vw;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

.sect2Content {
               width: 60vw;
              }

.sect1 i {
        font-size: 30px;
        color: #268bc9;
        width: 50px;
        height: 50px;
        /* margin-right: 10px; */
        border-radius: 50%;
        border: 1px solid;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
       }

.sect1 h4 {
         opacity: 0.5;
         font-family: Arial, Helvetica, sans-serif;
         margin-left: 10px;
        }

.sect1 p {
        margin-left: 10px;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
       }